body{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
}
.docblog{
/* display: flex;
flex-direction: column;
background-color: wheat;
align-items: center; */
display: grid;
grid-template-columns: auto;
}
/* .myBlog{
    display: grid;
     grid-template-columns: auto auto;
} */
.myblogHead{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myBlog{
    display: flex;
    border-radius: 10px;
    background-color: teal;
}
.mainblogCon{
    /* background-color: red; */
    width: 80%;
}
.sideBlog{
    width: 20%;
}

.blog{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    margin: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 10px 5px 5px rgb(52, 51, 51);
    transition: all 0.1s ease-in-out;

}
.blog:hover{
    opacity:0.9;
}
.sideBlog{
    margin-left: 40px ;
    background-color: aquamarine;
}

.blog-title{
    color: red;
}
.authorDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
